name: Tests

on:
  pull_request:
    branches: [main]

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout PySIDT
        uses: actions/checkout@v4

      - name: Create pysidt environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: environment.yml
          miniforge-variant: Mambaforge
          miniforge-version: latest
          python-version: 3.7
          activate-environment: pysidt_env
          use-mamba: true

      - name: Install packages for testing
        run: |
          python -m pip install pytest nbmake
          python -m pip install -e .

      - name: Test PySIDT notebooks
        run: |
          pytest --nbmake IPython/multi_eval_SIDT_example.ipynb
          pytest --nbmake IPython/Surface_Diffusion_single_eval_SIDT_example.ipynb
